<h1>HTML Forms</h1>

<%
=begin%>
 <form action="/users" method="post" accept-charset="UTF-8">
<div>
    <label for="username">Username</label>
    <input type="text" name="user[username]">
</div>
<div>
    <label for="email">Email</label>
    <input type="email" name="user[email]">
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="user[password]">
</div>
<div>
    <input type="submit" value="Sign Up">
<div>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form> 
<%
=end%>

<%
=begin%>
 <%= form_tag( '/users' , method: "post") do %>
    <div>
        <%= label_tag ("Username") %>
        <%= text_field_tag (:username) %>
    </div>
    <div>
        <%= label_tag ("Email") %>
        <%= email_field_tag (:email) %>
    </div>
    <div>
        <%= label_tag ("Password") %>
        <%= password_field_tag (:password) %>
    </div>
    <%= submit_tag %>
<% end %> 
<%
=end%>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |form| %>
     <div>
        <%= form.label :username, "Username" %>
        <%= form.text_field :username, placeholder: "johndoe" %>
    </div>
    <div>
        <%= form.label :email, "Email" %>
        <%= form.email_field :email, placeholder: "johndoe@email.com" %>
    </div>
    <div>
        <%= form.label :password, "Passsword" %>
        <%= form.password_field :password, placeholder: "password" %>
    </div>
    <%= form.submit %>
<% end %>